<div class="panel panel-light" style="background-color: #EEEEEE">
  <div class="panel-heading glyphicon glyphicon-briefcase" style="font-size: 20px;"> Proveedores \<strong> Empresas</strong></div>
  <div class="panel-body">
    <%= render partial: 'layouts/search_form', locals: { search_entity: 'providers', word: "Proveedores" } %>
    <br>
    <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
      <p>
        <%= button_to new_provider_path, {method: :get, class: "btn btn-success"} do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo Proveedor
        <% end %>
      </p>
    </div>
  </div>
  <%= render partial: 'results_search' %>
</div>
