<div class="container-fluid">
	<div class="row">
		<h1>Editar Encargado</h1>

		<%= render 'form', customermanager: @customermanager %>

		<%= link_to 'Volver', customermanagers_path %>

	</div>
</div>
