<div class="container-fluid">
	<div class="row">
		<h1>Editar Documento de Referencia</h1>

		<%= render 'form', document_authorization: @document_authorization %>

		<%= link_to 'Volver', document_authorizations_path %>

	</div>
</div>