<div class="container-fluid">
	<div class="row">
		<h1>Nuevo Tipo de Documento de Exoneración y Autorización</h1>

		<%= render 'form', document_authorization: @document_authorization %>

		<%= link_to 'Volver', document_authorizations_path %>
	</div>
</div>
