<div class="container-fluid">
	<div class="row">
		<h1>Nuevo Encargado</h1>

		<%= render 'form', providermanager: @providermanager %>

		<%= link_to 'Volver', providermanagers_path %>
	</div>
</div>
