<div class="container-fluid">
	<div class="row">
		<h1>Editar Condición de la Venta</h1>

		<%= render 'form', condition_sale: @condition_sale %>

		<%= link_to 'Volver', condition_sales_path %>

	</div>
</div>
