<div class="panel panel-light" style="background-color: #EEEEEE">
  <div class="panel-heading glyphicon glyphicon-wrench" style="font-size: 20px;"> Configuraci贸n \<strong> C贸digos de Monedas</strong></div>
  <div class="panel-body">
    <%= render partial: 'layouts/search_form', locals: { search_entity: 'currency_codes', word: "C贸digos de Monedas" } %>
    <br>
    <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
      <p>
        <%= button_to new_currency_code_path, {method: :get, class: "btn btn-success"} do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo C贸digo de Moneda
        <% end %>
      </p>
    </div>
  </div>
  <%= render partial: 'results_search' %>
</div>
