<div class="container-fluid">
	<div class="row">
		<h1>Nuevo Tipo de Documento de Referencia</h1>

		<%= render 'form', type_document_reference: @type_document_reference %>

		<%= link_to 'Volver', type_document_references_path %>
	</div>
</div>
