<div class="container-fluid">
	<div class="row">
		<h1>Editar Tipo de Comprobante</h1>

		<%= render 'form', type_voucher: @type_voucher %>

		<%= link_to 'Volver', type_vouchers_path %>

	</div>
</div>
