<div class="container-fluid">
	<div class="row">
		<h1>Editar Tipo de Cliente</h1>

		<%= render 'form', customer_type: @customer_type %>

		<%= link_to 'Volver', customer_types_path %>

	</div>
</div>