<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
      <p class="navbar-text">
      	Tel.: (506) 6469-5452 | Email: info@fraguez.com | San Carlos, Alajuela, Costa Rica | Diseñado por <a href="https://www.fraguez.com">Fraguez S.A.</a> - Todos los derechos reservados</p>
         
      <p class="navbar-text navbar-right">Versión 1.0.0</p> 
  </div>
</nav>